*{
	margin: 0 auto;
	padding: 0;
}
.contenido{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.contenido,#cabecera,#central,#secundaria{
	width: 100%;
}
}
#cabecera{
	
	background-color:#5b7989;
	border-radius:10px 0 10px 0;
}
#central{

}
#secundaria{

}
#footer{

}
#central img,#secundaria img{
	-webkit-filter:drop-shadow(2px 2px 2px #82c3a6);
	border: 2px solid ;
	width: 100%;
}
h1{
	color:#fff;
	text-shadow: 2px 2px 2px #02010a;
}